VITE_SUI_NETWORK=testnet
VITE_RESPONSE_NETWORK_MODE=chain
VITE_RESPONSE_NETWORK_MODULE=response_network
VITE_RESPONSE_NETWORK_PACKAGE_ID=0x49fa5c1a7bc586d9a733b5eea5fc264d4f40fa1e7463925ee6f5c14448eeaa99
VITE_RESPONSE_NETWORK_REGISTRY_ID=0x46dbf80c58d61fae8bb68bd3e9d12ae6b61e3c150f9b8043bfbe91e70f4693c4
